* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;

}

$krish: white;
$font: 20px ;
nav{
    height: 50px;
    width:100%;
    background-color: antiquewhite;
    ul{
        font-size: $font;
        color: $krish;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        li {
            a {
                text-decoration: none;
            }
        }
    }
}